.hoverOnZoom{
  -webkit-transition: 0.5s;
          transition: 0.5s;
}

.hoverOnZoom:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service-button{
	border:1px; 
	border-color: #FFF;
	margin:1px 0px 1px 0px;
	width:100%;
	background-color:rgba(0,128,81,1);
	color:#FFF;
}
.service-button:hover{
	padding:1px 0px 0px 0px;
	margin:0px 0px 1px 0px;
	background-color:rgba(0,128,81,0.6);
	color:#000;
}

.font_PackageTitle{
	font-size:17px !important;
}
.medical_center_description{
	font-size:12px;
}

@media screen and (max-width: 1200px) {
	.font_PackageTitle{
		font-size:14px !important;
	}
	.medical_center_description{
		font-size:10px;
	}
}

@media screen and (max-width: 992px) {
	.font_PackageTitle{
		font-size:10px !important;
	}
	.medical_center_description{
		font-size:9px;
	}
}
 
@media screen and (max-width: 768px) {
	.font_PackageTitle{
		font-size:11px !important;
	}
	.medical_center_description{
		font-size:12px;
	}
}
 
@media screen and (max-width: 600px) {
	.font_PackageTitle{
		font-size:11px !important;
	}
	.medical_center_description{
		font-size:11px;
	}
}
  
@media screen and (max-width: 480px) {
	.font_PackageTitle{
		font-size:10px !important;
	}
	.medical_center_description{
		font-size:10px;
	}
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.testimonial-class .owl-controls {
    position: absolute;
    bottom: -8px;
    width: 100%;
}