/* Color Style Switcher 
---------------------------------------------------------------------- */
#color-style-switcher div h3 {
    color: #ffffff;
    font-size: 19px;
    margin: 8px 3px 12px;
}
#color-style-switcher {
    background: #111111;
    left: -195px;
    position: fixed;
    top: 250px;
    width: 195px;
    z-index: 9999;
}
#color-style-switcher div {
    padding: 5px 10px;
}
#color-style-switcher .bottom {
    background: none repeat scroll 0 0 rgba(0,0,0,.7);
    color: #252525;
    padding: 0;
}
#color-style-switcher .bottom a.settings {
    background-color: #111;
    display: block;
    height: 45px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 45px;
    padding: 7px 13px;
}
#color-style-switcher .bottom a.settings:before {
    content: "ï‚…";
    color: #fff;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1.8rem;
    position: absolute;
}
#color-style-switcher select {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #FFFFFF;
    line-height: 1;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 150px;
}
ul.colors {
    list-style: none outside none;
    margin: 0 0 10px;
    overflow: hidden;
    padding:0;
}
ul.colors li {
    float: left;
    margin: 2px;
}
ul.colors li a {
    cursor: pointer;
    display: block;
    height: 35px;
    width: 50px;
    border-radius:4px;
    -webkit-border-radius:4px;
}
ul.colors li a.active {
    position: relative;
}
ul.colors li a.active:after {
    color: #fff;
    content:"\f00c";
    font-family: "FontAwesome";
    font-size: 10px;
    right: 12px;
    position: absolute;
    top: 9px;
}
ul.colors li a.color1.active:after {
    color:#000000;
}
@media only screen and (max-width: 500px) {
    #color-style-switcher {
        display: none;
    }
}
/* Color Style Switcher  End
---------------------------------------------------------------------- */

/* Colors
---------------------------------------------------------------------- */
ul.colors .color1 {
    background: #00b3ff ;
}
ul.colors .color2 {
    background: #ff6600;
}
ul.colors .color3 {
    background: #11c0b4;
}
ul.colors .color4 {
    background: #9f00ff;
}
ul.colors .color5 {
    background: #fdc502;
}
ul.colors .color6 {
    background: #de2e8c;
}
ul.colors .color7 {
    background: #8ec211;
}
ul.colors .color8 {
    background: #ec2e58;
}
ul.colors .color9 {
    background: #dc2a0b;
}
ul.colors .color10 {
    background: #b07926;
}
ul.colors .color11 {
    background: #16a085;
}
ul.colors .color12 {
    background: #2980b9;
}
/* Colors End
---------------------------------------------------------------------- */
