.rendezvous-input {
    text-align: left;
}
.rendezvous-input-date {
	background-color: #f4f2ee65;
    border: #ffffff00 !important;
    color: #005f3b !important;
}
.rendezvous-popup {
    display: none;
    position: absolute;
    z-index: 100;
}
.rendezvous-datepicker {
    width: 16rem;
    font-size: 0.9rem;
    cursor: default;
    background-color: #fff;
    box-shadow: 1px 6px 0 -3px #fff, 1px 6px 0 -2px rgba(0, 0, 0, 0.14), 2px 13px 0 -6px #fff, 2px 13px 0 -5px rgba(0, 0, 0, 0.1);
}
.rendezvous-datepicker * {
    box-sizing: border-box;
    background: none;
    border: 0 none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}
.rendezvous-datepicker button::-moz-focus-inner, .rendezvous-datepicker input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.rendezvous-datepicker-navigation {
    /*background-color: #df3232;*/
    background-color: #005f3b;
}
.rendezvous-datepicker-navigation-action {
    height: 2.2em;
    line-height: 2.2em;
    display: block;
    float: left;
    text-align: center;
    color: #fff;
}
.rendezvous-datepicker-navigation-action:hover {
    /*background-color: #df5454;*/
    background-color: #005f3b;
}
.rendezvous-datepicker-navigation-previous, .rendezvous-datepicker-navigation-next {
    width: 25%}
.rendezvous-datepicker-navigation-up {
    width: 50%}
.rendezvous-datepicker-calendar {
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-top: 0 none;
}
.rendezvous-datepicker-calendar-header {
    margin-top: 0.35em;
}
.rendezvous-datepicker-calendar-body {
    margin-top: 0.35em;
    margin-bottom: 0.3em;
}
.rendezvous-datepicker-calendar-title {
    display: block;
    float: left;
    padding: 0 0.28em;
    color: #666;
    border-bottom: 1px dotted #555;
}
.rendezvous-datepicker-calendar-value, .rendezvous-datepicker-calendar-dummy-value, .rendezvous-datepicker-calendar-selected-value {
    display: block;
    float: left;
    padding: 0 0.28em;
    color: #222;
}
.rendezvous-datepicker-calendar-value {
    background-color: #f9f9f9;
}
.rendezvous-datepicker-calendar-value:hover {
    color: #000;
    background-color: #ececec;
}
.rendezvous-datepicker-calendar-selected-value {
    background-color: #efefef;
}
.rendezvous-datepicker-calendar-selected-value:hover {
    color: #000;
    background-color: #dfdfdf;
}
.rendezvous-datepicker-calendar-week-day, .rendezvous-datepicker-calendar-day {
    width: 13.28571%;
    margin: 0.5%}
.rendezvous-datepicker-calendar-week-day {
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
}
.rendezvous-datepicker-calendar-day {
    height: 1.6em;
    line-height: 1.6em;
    text-align: right;
}
.rendezvous-datepicker-calendar-month {
    width: 31.33333%;
    margin: 1%;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
}
.rendezvous-datepicker-calendar-year {
    width: 48%;
    margin: 1%;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
}
.rendezvous-datepicker-clear {
    clear: both;
}
